body{
  background-color: #dddddd;
  margin:0;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
hr{
  margin: 100px auto 100px auto;
  border-color: teal;
  border-style: none;
  border-top-style: dotted;
  width:20%;
  border-width: 10px;

}

/*****************************IMages Element************************************/
.mountain{
  position:relative;
  top:8px;
}
.top-cloud{
  position:absolute;
  right:400px;
  top:60px;
}
.bottom-cloud{
  position:absolute;
  left:400px;
  bottom:300px;
}
.twinsfknk{

  height:200px;
  width:200px;
}
.youtube{
  height:25%;
  width: 25%;
  float:left;
  margin-right: 30px;
}
.guitar{
  border:2px solid teal;
  border-radius: 10%;
  height: 25%;
  width: 25%;
  float: right;
  margin-right: 30px;
}


/*****************************DIV Element************************************/

.top-container{
  background-color: #ddf3f5;
  position:relative;
  padding-top: 100px;
  /*height: 200px;
  width: 200px;
  padding: 20px;
  border: 10px solid ;*/
}
.middle-container{
  background-color: #1b262c;
  position: relative;
  padding:100px 0 100px 0;

  /*margin-left: 260px;
  border: 20px solid ;*/
}
.self-intro{
  width:50%;
  margin:0 auto 0 auto;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 22px;
}

/******************************STARTnof Button css**********************************/
.contact-text{
  margin: 20px auto 20px auto;
}


/***************************END of Button css******************************/
/*.youtube-text{
  clear: left;
}
.guitar-text{
  clear: right;
}*/
.bottom-container{
  background-color: #f2aaaa;
  position: absolute;
  width:100%;

  /*margin-left: 500px;
  border: 10px solid ;*/
}

/**********************************TEXT Elements*********************************************/
h1{
  margin:50px auto 0 auto;
  font-size: 5.62rem;
  color:#66BFBF;
/*  line-height: 2; */            /*give space between line that h1 is in click pesticide to know differense*/
}
h2{
    font-size:2.5rem;
    font-family: 'Merriweather', serif;
    color:#66BFBF;
}
h3{
  font-size:1.56rem;
  font-family: 'Merriweather', serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin:20px;
}

p{
  margin-bottom: 0;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color:white;
}
.programmer{
  font-weight: normal;
}

.footer-link{
  position:relative;
  top: 20px;
  text-decoration: none;

}
.footer-link:hover{
  color:#EAF6F6;
}
.copyright{
  padding:30px 0 30px 0;
  font-size: 0.75rem;
}
